<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <h2>Name: <%= nam %></h2>
    <h2>Marks: <%= marks %></h2>
        <% if (marks >= 9) { %>
            <h2 style="color: green;">PASS</h2>
        <% } else { %>
            <h2 style="color: red;">FAIL</h2>
        <% } %>
    
</body>
</html>
